body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f5f7fb;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 15px;
  background: #1e293b;
}

.nav button {
  padding: 10px 20px;
  border: none;
  color: white;
  background: #334155;
  border-radius: 6px;
  cursor: pointer;
}

.nav button:hover {
  background: #475569;
}

.card {
  background: white;
  padding: 30px;
  margin: 20px auto;
  width: 300px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.highlight {
  border: 3px solid #3b82f6;
}

.big {
  font-size: 70px;
  font-weight: bold;
  color: #1e293b;
}

.btn {
  padding: 15px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.primary {
  background: #3b82f6;
  color: white;
  font-size: 18px;
}

.status {
  font-size: 18px;
  margin-top: 10px;
}

/* TV MODE */
.tv {
  background: black;
  color: #00ffcc;
  height: 100vh;
  text-align: center;
  padding-top: 100px;
}

.tv-number {
  font-size: 180px;
}

.tv-window {
  font-size: 50px;
}

.window-grid {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}